In [10]:
import pandas as pd
import numpy as np

In [5]:
df =pd.read_csv('../data/advertising.csv', usecols=['TV','radio','newspaper','sales'])

In [6]:
#outcome,response, target variable is sales. It is what we are trying to find out
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [35]:
#We are program the first equation in the stats intro presentation
numerator = np.sum((df['TV'] - df['TV'].mean())**2)

In [36]:
n = df.shape[0]

In [37]:
var = numerator/(n-1)

In [38]:
var

7370.94989321608

In [39]:
#Let's try this on our own!
numerator2 = np.sum((df['radio']-df['radio'].mean())**2)

In [40]:
n2 =df['radio'].shape[0]

In [41]:
numerator2/(n2-1)

220.42774271356785

In [34]:
df['radio'].var()

220.4277427135678

In [44]:
#this is the equation for standard deviation. it is just the square root of the variance
np.sqrt(df['TV'].var())

85.8542363149081

In [45]:
df['TV'].std()

85.8542363149081

In [42]:
np.sqrt(df['radio'].var())

14.846809176168723

In [43]:
df['radio'].std()

14.846809176168723

In [47]:
std = df['TV'].std()

In [50]:
tv_avg = df['TV'].mean()

In [51]:
tv_avg - (1.96*std)

-21.231803177219888

In [57]:
#this is the equation for covariance. You are comparaing two variables
numerator3 = np.sum((df['TV']-df['TV'].mean())*(df['radio']-df['radio'].mean()))

In [58]:
n3 = df['TV'].shape[0]

In [59]:
numerator3 / (n3-1)

69.86249246231154

In [66]:
df[['TV','radio']].cov()

                TV       radio
TV     7370.949893   69.862492
radio    69.862492  220.427743

In [80]:
#this is the equation for correlation 
df[['TV','radio']].cov() / (df['TV'].std()*df['radio'].std())

             TV     radio
TV     5.782673  0.054809
radio  0.054809  0.172930

In [85]:
df[['TV', 'radio']].cov() / (df['TV'].std()*df['radio'].std())

             TV     radio
TV     5.782673  0.054809
radio  0.054809  0.172930

In [78]:
df[['TV','radio']].corr()

             TV     radio
TV     1.000000  0.054809
radio  0.054809  1.000000