In [1]:
import pandas as pd

df= pd.read_csv('../data/housing.csv')

In [2]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
df['CRIM'].describe()

count    506.000000
mean       3.613524
std        8.601545
min        0.006320
25%        0.082045
50%        0.256510
75%        3.677082
max       88.976200
Name: CRIM, dtype: float64

In [4]:
from sklearn.linear_model import LinearRegression

In [6]:
#this initializes an instance of a given algorithm
lreg = LinearRegression()

In [7]:
X = df[['LSTAT']]
y = df['PRICE']

In [8]:
#need double brackets so that scikitlearn can use it as a data frame instead of a series.
X

     LSTAT
0     4.98
1     9.14
2     4.03
3     2.94
4     5.33
5     5.21
6    12.43
7    19.15
8    29.93
9    17.10
10   20.45
11   13.27
12   15.71
13    8.26
14   10.26
15    8.47
16    6.58
17   14.67
18   11.69
19   11.28
20   21.02
21   13.83
22   18.72
23   19.88
24   16.30
25   16.51
26   14.81
27   17.28
28   12.80
29   11.98
..     ...
476  18.68
477  24.91
478  18.03
479  13.11
480  10.74
481   7.74
482   7.01
483  10.42
484  13.34
485  10.58
486  14.98
487  11.45
488  18.06
489  23.97
490  29.68
491  18.07
492  13.35
493  12.01
494  13.59
495  17.60
496  21.14
497  14.10
498  12.92
499  15.10
500  14.33
501   9.67
502   9.08
503   5.64
504   6.48
505   7.88

[506 rows x 1 columns]

In [9]:
lreg.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#allows you to change parameters after algorithm is initialized
lreg.set_params(n_jobs=-1)

In [10]:
lreg.coef_

array([-0.95004935])

In [11]:
lreg.intercept_

34.55384087938311

In [12]:
X[:1]

   LSTAT
0   4.98

In [14]:
X[:1]*lreg.coef_[0]+lreg.intercept_

       LSTAT
0  29.822595

In [15]:
lreg.predict(X[:1])

array([29.8225951])

In [16]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [19]:
X = df[['RM','LSTAT']]
y = df['PRICE']

In [20]:
lreg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
lreg.predict(X[:1])

array([28.94101368])

In [23]:
lreg.coef_

array([ 5.09478798, -0.64235833])

In [24]:
lreg.intercept_

-1.3582728118744818

In [29]:
#equation for the linear combination of multiple lines
(X[:1]*lreg.coef_).sum(axis=1)

4.452429650092414

In [30]:
lreg.score(X, y)

0.6385616062603403

In [31]:
df['PREDICTION'] = lreg.predict(X)

In [32]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,PREDICTION
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,28.941014
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,25.484206
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,32.659075
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,32.406520
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,31.630407

In [34]:
(df['PRICE'] - df['PREDICTION']).mean()

-2.3836883279699014e-15

In [42]:
naive_model_cost = ((y-y.mean())**2).sum()

In [40]:
our_model_cost = ((y - df['PREDICTION'])**2).sum()

In [43]:
our_model_cost, naive_model_cost

(15439.309201313532, 42716.29541501976)

In [44]:
our_model_cost/naive_model_cost

0.3614383937396597

In [45]:
lreg.score(X, y)

0.6385616062603403