In [2]:
import pandas as pd

df = pd.read_csv('../Class/class material/Unit2/data/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df[df['Sex'] == 'female'].shape[0]

314

In [12]:
df[df['Sex'] == 'male'].shape[0]

577

In [15]:
df[df['Sex'] == 'female']['Survived'].mean()

0.7420382165605095

In [16]:
df[df['Sex'] == 'male']['Survived'].mean()

0.18890814558058924

In [19]:
df[df['Pclass'] < 3]['Survived'].mean()

0.5575

In [22]:
df[(df['Sex']== 'female') & (df['SibSp'] >=1)]['Survived'].mean()

0.6857142857142857

In [24]:
df[(df['Sex'] == 'female')& (df['SibSp'] == 0)]['Survived'].mean()

0.7873563218390804

In [30]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [26]:
df[df['Embarked'] == 'C']['Survived'].mean()

0.5535714285714286

In [28]:
df[df['Embarked'] == 'S']['Survived'].mean()

0.33695652173913043

In [31]:
df[df['Embarked'] == 'Q']['Survived'].mean()

0.38961038961038963

In [32]:
df1 = df['SibSp'] + df['Parch']

In [34]:
df['Total_Family_Size'] = df['Parch'] + df['SibSp']

In [35]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Total_Family_Size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [45]:
df[df['Total_Family_Size'] == 1].shape[0]

161

In [3]:
df2 = pd.read_csv('movies\train.csv')

FileNotFoundError: [Errno 2] File b'movies\train.csv' does not exist: b'movies\train.csv'